footer {
  background-color: #2f303a;
  color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  align-items: baseline;
}
footer .logo {
  margin-right: 0;
}
.footer-main {
  margin-right: 70px;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-contacts {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-button-list {
  display: flex;
  justify-content: center;
}
.footer-item {
  display: flex;
}

.footer-button {
  @extend %flex-centered;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: var(--accent-color);
}
.footer-button:focus {
  background-color: var(--accent-color);
  outline: var(--accent-color);
}

.footer-icon {
  fill: #ffffff;
}

.footer-button-item:not(:last-child) {
  margin-right: 10px;
}

.footer-subscribe {
  margin-left: auto;
  color: #ffffff;

  &__text {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  &__form {
    display: flex;
  }
  &__input {
    display: flex;
    align-items: center;
    min-width: 358px;
    height: 50px;
    padding: 0;
    padding-left: 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-btn {
  @extend %flex-centered;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-hover-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .&__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #ffffff;
  }

  .&:hover,
  .&:focus {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
