.logo {
  color: var(--accent-color);
  font-family: Raleway;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text {
  color: black;
}

.logo__text--inverse {
  color: #ffffff;
}
