.partners {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.partners__item:not(:last-child) {
  margin-right: 30px;
}

.partners__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.partners__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
