html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
